{{>partials/head}}

<header class="bg-black">
  <nav class="container mx-auto flex justify-center p-5 ">
    <a href="/"><img src="/img/Linkly.svg" alt="logo"></a>
  </nav>
</header>

<main class="bg-black bg-swirl bg-no-repeat bg-center h-screen flex flex-col justify-center items-center">
  <h1 class="text-5xl text-lite lg:text-8xl">Error 404</h1>
  <h2 class="text-2xl text-lite pb-10 lg:text-4xl">Page Not Found</h2>

  <a href="/" class="text-white text-xs w-max bg-primaryBlue shadow-activeShadow px-3 py-2 rounded-full cursor-pointer border-2 border-primaryBlue hover:bg-grey transition-colors duration-300 ease-in-out lg:text-base lg:px-5">Back To Home
  </a>
</main>

{{>partials/footer}}  