{{>partials/head}}

<header class="bg-black">
  <nav class="container mx-auto flex justify-center p-5 ">
    <a href="/"><img src="/img/Linkly.svg" alt="logo"></a>
  </nav>
</header>

<main class="bg-black h-screen flex flex-col justify-center">
  <h1 class="text-3xl text-lite text-center">Funcionalidade em andamento</h1>

</main>

{{>partials/footer}}