<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/output.css">
</head>

<body>
  <header class="bg-black flex justify-between p-5 ">
    <img src="/img/Linkly.svg" alt="logo">

  <div class="flex gap-4">
    <div class="flex place-items-center gap-2 bg-grey text-white border-2 border-[#353C4A] px-5 py-2 rounded-full cursor-pointer hover:bg-primaryBlue hover:border-transparent hover:shadow-activeShadow transition-all duration-300 ease-in-out">
      <a href="">Login</a>
      <span>
        <img src="img/icons/signIn.png" alt="login icon">
      </span>
    </div>

    <div class="hidden md:block text-white bg-primaryBlue shadow-activeShadow px-5 py-2 rounded-full cursor-pointer border-2 border-primaryBlue hover:bg-grey transition-colors duration-300 ease-in-out">
      <a href="">Register Now</a>
    </div>
  </div>
  </header>
</body>

</html>