{{>partials/head}}

<header class="bg-black">
  <nav class="container mx-auto flex justify-between p-5 ">
    <a href="/"><img src="/img/Linkly.svg" alt="logo"></a>

    <div class="flex gap-4">

      <a href="/login">
        <div class="flex place-items-center gap-2 bg-grey text-white border-2 border-[#353C4A] px-5 py-2 rounded-full cursor-pointer hover:bg-primaryBlue hover:border-transparent hover:shadow-activeShadow transition-all duration-300 ease-in-out">
          Login
          <span>
            <img src="img/icons/signIn.png" alt="login icon">
          </span>
        </div>
      </a>

      <a href="/register">
        <div class="hidden md:block text-white bg-primaryBlue shadow-activeShadow px-5 py-2 rounded-full cursor-pointer border-2 border-primaryBlue hover:bg-grey transition-colors duration-300 ease-in-out">
          Register Now
        </div>
      </a>
    </div>
  </nav>
</header>

<main class="bg-black bg-cubes bg-contain h-full pb-32">
  <div class="pt-14 flex flex-col place-items-center mb-14">
    <h1 class="bg-gradient bg-clip-text text-transparent font-extrabold text-4xl text-center pb-8 sm:text-5xl ">Shorten Your Loooong Links :)</h1>
    <p class="font-light text-lite text-center max-w-[50ch] pb-10 text-sm sm:text-lg">Linkly is an efficient and easy-to-use URL shortening service that streamlines your online experience.</p>

    <div class="relative flex items-center w-8/12">
      <span class="absolute left-0 ml-3 sm:ml-5">
        <img class="lg:w-[24px] lg:h-[24px]" src="/img/icons/link.png" width="20" height="20" alt="link icon">
      </span>

      <input class="placeholder:text-lite text-xs text-lite bg-black border-4 border-[#353C4A] rounded-full px-10 py-3 focus:outline-none focus:border-primaryBlue focus:shadow-activeShadow transition-all duration-200 ease-in-out w-full lg:px-16 lg:py-5 lg:text-lg" type="text" name="url" id="url" placeholder="Enter the link here">

      <span class="absolute right-0 bg-primaryBlue shadow-activeShadow rounded-full p-3 mr-2 cursor-pointer border-2 border-primaryBlue hover:bg-grey transition-all duration-200 ease-in-out lg:p-5 lg:px-9 lg:py-4">
        <img class="lg:w-[14px] lg:h-[14px] lg:hidden" src="/img/icons/rightArrow.png" width="10" height="10" alt="seta para direita icon">
        <p class="hidden lg:block text-white">Shorten Now!</p>
      </span>
    </div>
  </div>

  <div class="px-2 md:px-5">
    <table class="w-full">
      <tr>
        <th class="bg-grey p-5 mb-1 max-md:rounded-t-lg  md:rounded-tl-lg">
          <h3 class="text-lite text-sm  text-start font-bold">Shorten Links</h3>
        </th>

        <th class="max-md:hidden bg-grey p-5 mb-1">
          <h3 class="text-lite text-sm  text-start font-bold">Original Links</h3>
        </th>

        <th class="max-md:hidden bg-grey p-5 mb-1">
          <h3 class="text-lite text-sm  text-start font-bold">Clicks</h3>
        </th>

        <th class="max-md:hidden bg-grey p-5 mb-1">
          <h3 class="text-lite text-sm  text-start font-bold">Status</h3>
        </th>

        <th class="max-md:hidden bg-grey p-5 rounded-tr-lg mb-11">
          <h3 class="text-lite text-sm  text-start font-bold">Date</h3>
        </th>
      </tr>

      <tr>
        <td class="bg-grey bg-opacity-25 p-5 mb-1">
          <div class="flex justify-between ">

            <div class="flex items-center gap-2">
              <span class="text-[#C9CED6] text-xs lg:text-sm"><a href="https://linkly.com/Bn41.." target="_blank">https://linkly.com/Bn41..</a></span>

              <span class="bg-[#1C283F] p-2 rounded-full cursor-pointer hover:bg-primaryBlue" data-js="copyBtn">
                <img src="/img/icons/copy.png" width="16" height="16" alt="copy icon">
              </span>
            </div>

            <span class="md:hidden bg-[#1C283F] p-2 rounded-full cursor-pointer hover:bg-[#141d2d] transition-transform ease-in duration-200" data-js="moreBtn">
              <img src="/img/icons/downArrow.png" width="16" height="16" alt="ver mais icon">
            </span>

          </div>

          <div class="h-0 invisible block sm:hidden" data-js="moreMenu">
            <ul class="text-lite text-xs">
              <li><strong>Original Link: </strong><span>https://www.twitter.com/tweets/8erelCoihu/</span></li>
              <li><strong>Clicks: </strong><span>3227</span></li>
              <li><strong>Status: </strong><span>Active</span></li>
              <li><strong>Date: </strong><span>Oct-10-2023</span></li>
            </ul>
          </div>

        </td>

        <td class="max-md:hidden p-5 bg-grey bg-opacity-25">
          <span class="text-[#C9CED6] text-xs lg:text-sm"><a href="https://linkly.com/Bn41.." target="_blank">https://www.twitter.com/tweets/8erelCoihu/</a></span>
        </td>

        <td class="max-md:hidden p-5 bg-grey bg-opacity-25">
          <span class="text-[#C9CED6] text-xs lg:text-sm">3227</span>
        </td>

        <td class="max-md:hidden p-5 bg-grey bg-opacity-25">
          <span class="text-[#C9CED6] text-xs lg:text-sm">Active</span>
        </td>

        <td class="max-md:hidden p-5 bg-grey bg-opacity-25">
          <span class="text-[#C9CED6] text-xs lg:text-sm">Oct-10-2023</span>
        </td>
      </tr>
    </table>
  </div>
</main>

{{>partials/footer}}