<tr>
  <td class="bg-grey bg-opacity-25 p-5 mb-1">
    <div class="flex justify-between ">

      <div class="flex items-center gap-2">
        <span class="text-[#C9CED6] text-xs lg:text-sm max-sm:max-w-[20ch] truncate"><a href="{{ short_url }}" target="_blank" data-js="link">{{ short_url }}</a></span>

        <span class="bg-[#1C283F] p-2 rounded-full cursor-pointer hover:bg-primaryBlue" data-js="copyBtn">
          <img class="pointer-events-none" src="/img/icons/copy.png" width="16" height="16" alt="copy icon">
        </span>
      </div>

      <span class="md:hidden bg-[#1C283F] p-2 rounded-full cursor-pointer hover:bg-[#141d2d] transition-transform ease-in duration-200" data-js="moreBtn">
        <img class="pointer-events-none" src="/img/icons/downArrow.png" width="16" height="16" alt="ver mais icon">
      </span>

    </div>

    <div class="h-0 invisible block sm:hidden peer" data-js="moreMenu">
      <ul class="text-lite text-xs">
        <li><strong>Original Link: </strong><span class=" block max-w-[30ch] truncate" title="{{ original_url }}">{{ original_url }}</span></li>
        <li><strong>Clicks: </strong><span>{{ clicks }}</span></li>
        <li><strong>Status: </strong><span>{{ status }}</span></li>
        <li><strong>Date: </strong><span>{{ date }}</span></li>
      </ul>
    </div>

  </td>

  <td class="max-md:hidden bg-grey bg-opacity-25 lg:p-5">
    <span class="block text-[#C9CED6] text-xs lg:text-sm max-w-[50ch] truncate"><a href="{{ short_url }}" target="_blank" title="{{ original_url }}" data-js="link">{{ original_url }}</a></span>
  </td>

  <td class="max-md:hidden bg-grey bg-opacity-25 text-center lg:p-5">
    <span class="text-[#C9CED6] text-xs lg:text-sm">{{ clicks }}</span>
  </td>

  <td class="max-md:hidden bg-grey bg-opacity-25 text-center lg:p-5">
    <span class="text-[#C9CED6] text-xs lg:text-sm">{{ status }}</span>
  </td>

  <td class="max-md:hidden bg-grey bg-opacity-25 text-center lg:p-5">
    <span class="text-[#C9CED6] text-xs lg:text-sm">{{ date }}</span>
  </td>

  <td class="bg-grey bg-opacity-25 text-center lg:p-5">
    <a href="/delete/{{ code_url }}" class="flex w-max justify-center items-center bg-red rounded-full p-2 border-2 border-transparent hover:bg-grey hover:border-primaryBlue">
      <img class="lg:w-5" src="/img/icons/delete.png" alt="delete icon" width="16" height="16">
    </a>
  </td>
</tr>